
services:
  mongosvr:
    container_name: mongosvr
    image: mongo:8.0.13
    environment:
      - MONGO_INITDB_ROOT_USERNAME=mongouser
      - MONGO_INITDB_ROOT_PASSWORD=pa55w0rd
    networks:
      - devnetwork
    ports:
      - 27017:27017
    healthcheck:
      test:  echo 'db.runCommand("ping").ok' | mongosh localhost:27017/test --quiet
      interval: 10s
      timeout: 10s
      retries: 5
      start_period: 10s
    # deploy:
      # resources:
        # limits:
          # cpus: '0.75'
          # memory: 512m
        # reservations:
          # cpus: '0.5'
          # memory: 256m
    volumes:
      - ..\..\..\Docker_Disks\mongo:/data/db
      

  mongo-express:
    container_name: mongo-express
    image: mongo-express:1.0.2-20-alpine3.19
    restart: always
    environment:
      - ME_CONFIG_MONGODB_URL=mongodb://mongouser:pa55w0rd@mongosvr:27017/
      - ME_CONFIG_BASICAUTH_ENABLED=true
      - ME_CONFIG_BASICAUTH_USERNAME=admin
      - ME_CONFIG_BASICAUTH_PASSWORD=admin
    networks:
      - devnetwork
    ports:
      - 8081:8081
    # deploy:
      # resources:
        # limits:
          # cpus: '0.75'
          # memory: 256m
        # reservations:
          # cpus: '0.5'
          # memory: 128m
    depends_on:
      mongosvr:
        condition: service_healthy
      
    

networks:
  devnetwork:
    driver: bridge




#######################################################################################################
# Docker Commands
# - Build images => docker-compose build --no-cache

# - Start after building => docker-compose up --build -d --force-recreate

# - Start without building => docker-compose up -d --no-build

# - Stopping => docker-compose down --remove-orphans

# - Viewing all running containers => docker stats

